@model List<restingapi.Models.Business>

<section class="bg-neutral-800 border-[1px] border-neutral-700 rounded-xl shadow-md space-y-4 w-full">
  <div class="flex justify-between px-8 pt-8 items-center">
    <h3 class="text-xl font-bold">Businesses</h3>
    <span class="font-bold">&#9660;</span>
  </div>
  <div class="flex flex-col gap-4 p-4">
    @foreach (var business in Model)
    {
      <div class="business-btn flex justify-between p-4 cursor-pointer select-none rounded-xl hover:shadow-xl hover:bg-neutral-700">
        <div class="flex gap-4">
          <img src="~/images/@(business.Name.ToLower()).png" alt="@business.Name logo" class="w-10 h-10"
            loading="lazy" decoding="async">
          <div class="leading-snug">
            <p class="font-bold">@business.ShortName</p>
            <p class="small-business-name opacity-75">@business.Name</p>
          </div>
        </div>
        <div class="flex flex-col font-bold">
          <span>$@business.StockValues.Last().Value</span>
          <span
            class="@(business.StockDelta()[0] == '-' ? "text-red-500" : "text-green-500")">@business.StockDelta()</span>
        </div>
      </div>
      <hr>
    }
  </div>
</section>
