@using financeapp.Models
@model List<Finance>

  <div id="all_finances" class="grid gap-4 max-h-[80vh] text-primary overflow-y-auto overscroll-y-contain bg-stone-800 outline outline-2 outline-stone-700 rounded-xl">
    @foreach (var item in Model)
    {
    <div class="text-stone-100">
      <div class="header flex text-stone-100 outline outline-stone-700">
        <div class="p-4 grid place-items-center">
          <span class="text-violet-400 font-bold text-sm">@item.Icon</span>
        </div>
        <div class="flex items-center justify-between w-full px-4 outline outline-stone-700 capitalize">
          <span>@item.Category</span>
          <span>@((decimal)item.AmountCents / 100) &euro;</span>
        </div>
        <form method="POST" class="grid place-items-center">
          <input type="hidden" name="Id" value="@item.Id">
          <button type="button" class="aspect-square w-10 ">x</button>
        </form>
      </div>
      <div class="body px-4 py-2 flex justify-between">
        <div>
          <p>@item.Title</p>
          <p>@item.Description</p>
        </div>
        <div class="opacity-75">@item.CreatedAt.ToString("dd.MM.yyyy")</div>
      </div>
    </div>
    }
  </div>
