@model workorder.Models.WorkOrderViewModel

@{
  var titleOrder = new List<Worker.Title> { Worker.Title.ohjaaja, Worker.Title.järkkä, Worker.Title.saatto,
Worker.Title.tma, Worker.Title.kaivo, Worker.Title.saha, Worker.Title.muu };
  // order workers by role, but keep the original role order
  var workersByRole = Model.workers
  .GroupBy(w => w.title)
  .ToDictionary(g => g.Key, g => g.ToList());
}

<div 
    class="workorder relative space-y-2 max-w-[1720px] mx-auto 
    print:text-sm print:break-inside-avoid">
  <div class="flex items-center gap-3 font-bold min-w-[800px]
    @(Model.status == "hylatty" ? "opacity-50" : "")">
    <img src="~/images/@(Model.status).svg" alt="@Model.status ikoni">
    <h2 class="text-base grow">
      ID: <span class="work_id cursor-pointer underline print:no-underline">@Model.workId</span>
        - <span class="customer_business">@Model.customer.businessName</span>
      (<span class="customer_id cursor-pointer underline print:no-underline">@Model.customer.customerId</span>)
    </h2>
    <button class="workers-btn button bg-@(Model.status) text-neutral-50 print:hidden">Työntekijät</button>
    <button class="button bg-@(Model.status) text-neutral-50 print:hidden">Muokkaa</button>
  </div>
  <div class="@(Model.status == "hylatty" ? "opacity-50" : "")">
    <div class="grid grid-cols-6 gap-1 bg-@(Model.status) text-center p-1 min-w-[1500px]
      [&>div>*:not(.small)]:p-2 [&>div>.small]:flex [&>div>.small]:flex-col
      [&_.header]:text-primary-50 [&_.header]:font-bold [&_.header]:print:text-white
      [&_.content:not(.workers)]:min-h-20 [&_.content:not(.workers)]:grid [&_.content:not(.workers)]:place-items-center 
      [&_.content]:grow [&_.content]:bg-secondary [&_.content]:print:bg-white">

      <!-- Row 1 -->
      <div class="flex flex-col">
        <div class="header">
          <p>DP13 Yhteyshenkilö</p>
        </div>
        <div class="content grow">
          <p>@Model.dpContact</p>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="header">
          <p>Asiakkaan yhteyshenkilöt</p>
        </div>
        <div class="content grow">
          <p>@Model.customer.contacts</p>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="header">
          <p>Työpaikan osoite</p>
        </div>
        <div class="content grow">
          <p>@Model.address</p>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="header">
          <p>Alkupvm</p>
        </div>
        <div class="content grow">
          <p>@Model.startDate</p>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="header">
          <p>Loppupvm</p>
        </div>
        <div class="content grow">
          <p>@Model.endDate</p>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="header">
          <p>Alkuaika (oletettu)</p>
        </div>
        <div class="content grow">
          <p>@(Model.startTimeEstimate ?? "Ei listattu")</p>
        </div>
      </div>

      <!-- Row 2 -->
      <div class="col-span-2 flex flex-col description">
        <div class="header">
          <p>Listätiedot Määräimelle</p>
        </div>
        <div class="content grow">
          <p class="line-clamp-3 print:line-clamp-none">@(Model.description ?? "Ei lisätietoja")</p>
        </div>
        <button class="hidden readmore button bg-@(Model.status) w-full text-stone-100 print:hidden">Lue lisää</button>
      </div>
      <div class="col-span-2 flex flex-col description">
        <div class="header">
          <p>Listätiedot Ei Määräimelle</p>
        </div>
        <div class="content grow">
          <p class="line-clamp-3 print:line-clamp-none">@(Model.hiddenDescription ?? "Ei listätietoja")</p>
        </div>
        <button class="hidden readmore button bg-@(Model.status) w-full text-stone-100 print:hidden">Lue lisää</button>
      </div>

      <!-- Role counts -->
      <div class="col-span-2 grid grid-cols-7 gap-1 [&>_.small>*]:p-2">
        <div class="small">
          <div class="header">
            <p>Ohj</p>
          </div>
          <div class="content">
            <p>@Model.directors / @Model.directors</p>
          </div>
        </div>
        <div class="small">
          <div class="header">
            <p>Järkkä</p>
          </div>
          <div class="content">
            <p>@Model.security / @Model.security</p>
          </div>
        </div>
        <div class="small">
          <div class="header">
            <p>Saatto</p>
          </div>
          <div class="content">
            <p>@Model.escorts / @Model.escorts</p>
          </div>
        </div>
        <div class="small">
          <div class="header">
            <p>TMA</p>
          </div>
          <div class="content">
            <p>@Model.tmas / @Model.tmas</p>
          </div>
        </div>
        <div class="small">
          <div class="header">
            <p>Kaivot</p>
          </div>
          <div class="content">
            <p>@Model.diggers / @Model.diggers</p>
          </div>
        </div>
        <div class="small">
          <div class="header">
            <p>Sahat</p>
          </div>
          <div class="content">
            <p>@Model.saws / @Model.saws</p>
          </div>
        </div>
        <div class="small">
          <div class="header">
            <p>Muut</p>
          </div>
          <div class="content">
            <p>@Model.others / @Model.others</p>
          </div>
        </div>
      </div>

      <!-- Row 3, the workers. Show only in print form -->
      <div class="col-span-full text-start hidden print:block">
        <div class="content workers grow flex flex-wrap gap-x-4 gap-y-2">
          @foreach (var role in workersByRole)
          {
            <p>
              <span class="font-bold capitalize">@role.Key:</span>
              @foreach (var worker in role.Value)
              {
                <!-- Add comma after each worker, but not after the last one -->
                <span  
                class="worker-name @(worker.status == Worker.Status.hylatty ? "underline" : "")" 
                data-status="@worker.status">@worker.name@(worker == role.Value.Last() ? "" : ",")</span>
              }
            </p>
            <!-- Add pipe after each role, but not after the last one -->
            @(role.Key != workersByRole.Keys.Last() ? "|" : "")
          }
        </div>
      </div>

    </div>
  </div>

  <div 
      class="warning absolute top-0 left-0 w-full h-full grid place-items-center z-20 
      @(Model.status != "hylatty" ? "hidden" : "") print:hidden">
    <div class="mt-8 border-hylatty border-4 bg-secondary">
      <p class="py-8 px-4 text-2xl font-bold text-hylatty">⚠ Työntekijälista tarvitsee huomiota!</p>
      <div class="grid grid-cols-2 border-t-4 border-hylatty">
        <button 
            class="workers-btn bg-hylatty text-secondary py-2 px-4 font-bold 
            transition-all hover:brightness-125">Avaa Lista</button>
        <button 
            onClick="event.target.closest('.warning').classList.add('hidden')"
            class="py-2 px-4 text-hylatty font-bold transition-all 
            hover:bg-hylatty hover:text-secondary">Sulje Varoitus</button>
      </div>
    </div>
  </div>
</div>
